.sidebar {
  position: fixed;
  top: 15px;
  right: 15px;
  background: #212529;
  padding: 10px 15px;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  z-index: 1050;
}

.sidebar button {
  background: transparent;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.sidebar button:hover {
  color: #0d6efd;
}
